__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# virtualenv
.venv
venv/
ENV/

.mypy_cache/

Pipfile.lock
Session.vim

# config file
cryptoboxer.conf
CryptoGladiator.conf
